.container {
  min-width: 260px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 1/1.5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.movieImg {
  display: flex;
  width: max-content;
  justify-content: center;
}

.movieImg img {
  width: 100%;
}
